# Arquivos de ambiente do Python
__pycache__/
*.pyc
venv/
env/
.env

# Banco de dados local
db.sqlite3
*.sqlite3

# Arquivos de mídia e estáticos (em produção, serão gerenciados de outra forma)
/media/
/static/

# Configurações de IDEs
.vscode/
.idea/